@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&family=Lato&family=Nunito+Sans:opsz@6..12&family=Plus+Jakarta+Sans:wght@400;600;800&family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #fafafa;
}

nav {
  padding: 10px;
  display: flex;
  width: 100%;
  height: 60px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-weight: bold;
  font-size: 14px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #737373;
}

nav h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-right: 250px;
  color: #10b981;
  font-size: 30px;
}

nav button {
  width: 70px;
  border: none;
  height: 32px;
  background-color: #10b981;
  border-radius: 4px;
  margin-left: 250px;
}

nav button a {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #10b981;
  cursor: pointer;
}

nav button:hover {
  opacity: 0.9;
  cursor: pointer;
}

#publication {
  color: #10b981;
}

.continueReading {
  height: 100vh;
  width: 97.5vw;
}

.continueReading .content1 {
  gap: 40px;
  margin-top: 40px;
  justify-content: center;
  padding: 20px;
  display: flex;
  width: initial;
  height: 67vh;
}



footer {
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
}
